@(engine: javax.script.ScriptEngine, saveUrl: Option[String])(renderModel: RenderModel)

@pageData = @{ renderModel.pageData }
@templateId = @{ "plain" }

@templateIdJson = @{ Html(Json.stringify(JsString(templateId))) }

@import play.api.libs.json.Json

@jsSaveUrl = @{ saveUrl.map(JsString.apply _).getOrElse(JsNull) }

@header = {
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style id="dynamic" type="text/css"></style>
}

@afterBody = {

    <script type="text/javascript">
var PageData = _.extend({saveUrl: @Html(Json.stringify(jsSaveUrl)), title: @Html(Json.stringify(JsString(renderModel.title)))}, @Html(Json.stringify(pageData)));
window.CloudinarySettings = @{
    val config = play.api.Play.current.configuration
    val maybeCloudinary = for {
        cloud_name <- config.getString("cloudinary.cloud_name")
        upload_preset <- config.getString("cloudinary.upload_preset")
    } yield Json.obj(
        "cloud_name" -> cloud_name,
        "upload_preset" -> upload_preset
    )

    Html(Json.stringify(maybeCloudinary getOrElse Json.obj()))
};

jQuery(function($) {

    var mgr = new TemplateManager(@templateIdJson, PageData);
    window.mgr = mgr;

});
        </script>

}

@main(renderModel.title)(header, afterBody) {
    <div id="sidebar">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#sidebar'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <div id="main-content">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#main-content'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <section id="footer">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#footer'], _.extend({editable: false}, $pageData)));").toString)
    </section>

    <div id="add-popup">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#add-popup'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <div id="admin-buttons">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates[$templateIdJson].classes['#admin-buttons'], _.extend({editable: false}, $pageData)));").toString)
    </div>
}
