@(engine: javax.script.ScriptEngine, saveUrl: Option[String])(renderModel: RenderModel)

@pageData = @{ renderModel.pageData }
@templateId = @{ "plain" }

@templateIdJson = @{ Html(Json.stringify(JsString(templateId))) }

@import play.api.libs.json.Json

@header = {
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style id="dynamic" type="text/css"></style>
}

@afterBody = {

    <script type="text/javascript">
var PageData = @utils.views.encodePageData(saveUrl, renderModel.title, renderModel.pageData);
window.CloudinarySettings = @utils.views.cloudinaryData;

jQuery(function($) {

    var mgr = new TemplateManager(@templateIdJson, PageData);
    window.mgr = mgr;

});
        </script>

        @Html(utils.views.createElement(templateIdJson, "#metadata", pageData)(engine))

}

@main(renderModel.title)(header, afterBody) {
    <div id="sidebar">
        @Html(utils.views.createElement(templateIdJson, "#sidebar", pageData)(engine))
    </div>

    <div id="main-content">
        @Html(utils.views.createElement(templateIdJson, "#main-content", pageData)(engine))
    </div>

    <section id="footer">
        @Html(utils.views.createElement(templateIdJson, "#footer", pageData)(engine))
    </section>

    <div id="add-popup">
        @Html(utils.views.createElement(templateIdJson, "#add-popup", pageData)(engine))
    </div>

    <div id="admin-buttons">
        @Html(utils.views.createElement(templateIdJson, "#admin-buttons", pageData)(engine))
    </div>
}
