@(engine: javax.script.ScriptEngine, saveUrl: Option[String])(renderModel: RenderModel)

@pageData = @{ renderModel.pageData }
@templateId = @{ "plain" }

@templateIdJson = @{ Html(Json.stringify(JsString(templateId))) }

@import play.api.libs.json.Json

@header = {
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <style id="dynamic" type="text/css"></style>
}

@afterBody = {

    <script type="text/javascript">
var PageData = @utils.views.encodePageData(saveUrl, renderModel.title, renderModel.pageData);
window.CloudinarySettings = @utils.views.cloudinaryData;

jQuery(function($) {

    var mgr = new TemplateManager(@templateIdJson, PageData);
    window.mgr = mgr;

});
        </script>

        @Html(engine.eval(s"React.renderToString(React.createElement(Templates[$templateIdJson].classes['#metadata'], _.extend({editable: false}, $pageData)));").toString)

}

@main(renderModel.title)(header, afterBody) {
    <div id="sidebar">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#sidebar'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <div id="main-content">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#main-content'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <section id="footer">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#footer'], _.extend({editable: false}, $pageData)));").toString)
    </section>

    <div id="add-popup">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates['$templateId'].classes['#add-popup'], _.extend({editable: false}, $pageData)));").toString)
    </div>

    <div id="admin-buttons">
        @Html(engine.eval(s"React.renderToString(React.createElement(Templates[$templateIdJson].classes['#admin-buttons'], _.extend({editable: false}, $pageData)));").toString)
    </div>
}
