html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#add-popup {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.4);

  z-index: 5;
  text-align: center;
  white-space: nowrap;
}

#add-popup:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#add-popup .popup {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  vertical-align: middle;

  text-align: initial;

  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 20px;
}

#add-popup .popup .close {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  line-height: 18px;

  cursor: pointer;
}

#add-popup .popup .buttons {
  float: right;
}
