<% for(i in section_banners) { %>
#main section<%= section_banners[i].section %>::before {
    background-image: url('<%= section_banners[i].url %>');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 15em;
    width: 100%;
}
<% } %>

#header {
    background: <%= primary_bg %>;
    color: <%= primary_color %>;
}

#header > nav ul li a.active {
    background: <%= nav_active_bg %>;
    color: <%= nav_active_color %> !important;
}

#header > footer .icons li a {
    color: <%= hilight_color %>;
}

#header > nav ul li {
  border-top: solid 2px <%= accent_color %>;
}

header.major h2 {
  color: <%= primary_bg %>;
}

header.major h2 + p {
  color: <%= dark_text %>;
}

body, input, select, textarea {
  color: <%= normal_text %>;
}

.w-youtube { width: <%= youtube_width || "100%" %>; height: <%= youtube_height || "480px" %>; }
