@(domain: String, vm: models.PageEditViewModel)

@import play.api.libs.json.{ Json, JsString, JsNumber }

<html>
    <head>
        <title>VOCities - Account Home</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" />
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("2.1.2/build/toastr.css"))' />
        <!--[if lte IE 8]><script src="@routes.Assets.at("stylesheets/ie/html5shiv.js")"></script><![endif]-->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react-with-addons.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.typewatch.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("2.1.2/toastr.js"))'></script>

        <script type="text/javascript">
            PageInfo = {
                domain: @Html(Json.stringify(JsString(domain))),
                path: @Html(Json.stringify(JsString(vm.page.path))),
                saveUrl: @Html(Json.stringify(JsString(routes.Application.save(domain, vm.page.path, templateId=vm.template_key).toString()))),
            };
var PageData = @utils.views.encodePageData(None, vm.page.title, vm.page.data);
        </script>

        <script src="@routes.Assets.at("javascripts/editor.js")" type="text/javascript"></script>
    </head>
    <body>
        <h3>Info</h3>
        <div class="title">
            <label for="title">Page title</label>
            <input id="title" name="title" value="" />
        </div>
        <div class="analytics ga">
            <label for="ga-trackingId">Google Analytics</label>
            <input id="ga-trackingId" />
        </div>
        <div class="metadata custom-code">
            <label for="custom-code">Custom code</label>
            <textarea id="custom-code" style="height: 200px; width: 70%"></textarea>
        </div>
        <form class="container">
            <textarea name="data" class="col-xs-12" style="display: none; height: 500px"></textarea>
            <button type="submit" name="save" style="float: right;">Save</button>
        </form>
        <a href="@routes.Application.edit(domain, vm.page.path)">Edit Page</a>
        <a href="@routes.Users.index">Back</a>
    </body>
</html>

