@(vm: models.AccountViewModel)

<html>
    <head>
        <title>VOCities - Account Home</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))" />
        <!--[if lte IE 8]><script src="@routes.Assets.at("stylesheets/ie/html5shiv.js")"></script><![endif]-->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react-with-addons.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))'></script>
    </head>
    <body>
        <div class="container accounts">
            @for(account <- vm.accounts) {
            @defining(vm.domains.filter(_.account_id == account.id)) { domains =>
                <div class="row account">
                    <div class="col-xs-3 name">@{account.name}</div>
                    <div class="col-xs-9 domains">
                        @for(domain <- domains) {
                        @defining(vm.pages.filter(p => p.account_id == account.id && p.domain_id == domain.id)) { pages =>
                            <div class="row domain">
                                <div class="col-xs-5 name">@{domain.domain}</div>
                                <div class="col-xs-7 pages">
                                    @for(page <- pages) {
                                        <div class="row page">
                                            <div class="col-xs-5 name">@{page.title}</div>
                                            <div class="col-xs-5 path">/@{page.path}</div>
                                            <div class="col-xs-2 edit"><a href="@routes.Users.edit(domain.domain, page.path)">Edit</a></div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @if(domain.maxPages > pages.length) {
                            <div class="row">
                                <form class="new-page-form" method="POST" action="@routes.Users.newPage">
                                    <input name="domain_id" type="hidden" value="@{domain.id}" />
                                    <input name="account_id" type="hidden" value="@{account.id}" />
                                    <input name="path" type="hidden" value="" />
                                    <input name="name" placeholder="Enter page name here" />
                                    <select name="template">
                                        <option disabled selected>Select a template</option>
                                        <option value="html5up_read_only">html5up: Read Only</option>
                                        <option value="html5up_prologue">html5up: Prologue</option>
                                    </select>
                                    <button type="submit">Create Page</button>
                                </form>
                            </div>
                            }
                        }
                        }
                    </div>
                </div>

                @if(account.credits > domains.length) {
                <div class="row">
                    <form class="new-domain-form" method="POST" action="@routes.Users.newDomain">
                        <input name="account_id" type="hidden" value="@{account.id}" />
                        <input name="domain" placeholder="Enter FQDN here" />
                        <select name="template">
                            <option disabled selected>Select a template</option>
                            <option value="html5up_read_only">html5up: Read Only</option>
                            <option value="html5up_prologue">html5up: Prologue</option>
                        </select>
                        <button type="submit">Create Domain</button>
                    </form>
                </div>
                }
            }
            }
        </div>
        @if(vm.accounts.isEmpty) {
        <div>
            <h3>No accounts found!</h3>
            <p>If you believe this is an error, please feel free to <a href="@securesocial.controllers.routes.LoginPage.logout">log out</a> and try again.</p>

            <p>If you are not yet a member, please feel free to shoot an email over to <a href="mailto:blast@@hardchee.se">support@@vocities.com</a>! We're not fully open for business quite yet, but if you're interested in a test drive, you can use the system for free until we launch!</p>
        </div>
        }
        <script type="text/javascript">
            $('.new-domain-form')
                .submit(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    var form = $(this);

                    var data = _.foldl(form.serializeArray(), function(a, o) {
                        a[o.name] = o.value;
                        return a;
                    }, {});

                    data.account_id = Number.parseInt(data.account_id);

                    $.ajax({
                        url: form.attr('action'),
                        data: JSON.stringify(data),
                        type: 'POST',
                        contentType: 'application/json',
                        success: function(data){
                            console.info('Success!', data);
                        },
                        error: function() {
                            console.info('error:', arguments);
                        }
                    });
                });
@*
            $('.new-page-form')
                .submit(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    var form = $(this);

                    var data = _.foldl(form.serializeArray(), function(a, o) {
                        a[o.name] = o.value;
                        return a;
                    }, {});

                    data.account_id = Number.parseInt(data.account_id);
                    data.domain_id = Number.parseInt(data.domain_id);

                    $.ajax({
                        url: form.attr('action'),
                        data: JSON.stringify(data),
                        type: 'POST',
                        contentType: 'application/json',
                        success: function(data){
                            console.info('Success!', data);
                        },
                        error: function() {
                            console.info('error:', arguments);
                        }
                    });
                });
*@
        </script>
    </body>
</html>
