@(vm: models.AccountViewModel)

<html>
    <head>
        <title>VOCities - Account Home</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")" />
        <!--[if lte IE 8]><script src="@routes.Assets.at("stylesheets/ie/html5shiv.js")"></script><![endif]-->
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/react/react-with-addons.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/underscorejs/underscore.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container accounts">
            @for(account <- vm.accounts) {
                <div class="row account">
                    <div class="col-xs-3 name">@{account.name}</div>
                    <div class="col-xs-9 domains">
                        @for(domain <- vm.domains.filter(_.account_id == account.id)) {
                            <div class="row domain">
                                <div class="col-xs-5 name">@{domain.domain}</div>
                                <div class="col-xs-7 pages">
                                    @for(page <- vm.pages.filter(p => p.account_id == account.id && p.domain_id == domain.id)) {
                                        <div class="row page">
                                            <div class="col-xs-5 name">@{page.title}</div>
                                            <div class="col-xs-5 path">/@{page.path}</div>
                                            <div class="col-xs-2 edit"><a href="@routes.Users.edit(domain.id, page.path)">Edit</a></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </body>
</html>
