@(title: String, templateId: String, templateData: String, content: Html)

@header = {
        <script type="text/javascript">
jQuery(function($) {
    console.info('wat');
    var data = @Html(templateData)
    window.data = data;
    var factory = React.createFactory(Templates['@templateId'])(data);
    var body = $('body');
    var top = React.render(factory, body[0]);

    var init = TemplateInits['@templateId'];
    if (init !== undefined) {
        init(data);
    }

    var container = $('<div />', {
        'style': 'position: absolute; top: 20px; right: 20px;',
    });

    var textarea = jQuery('<textarea />', {
        html: JSON.stringify(data, null, '  '),
        style: 'display: block; height: 80px; width: 600px;'
    });

    var saveButton = $('<button />', {
        html: 'Save',
        style: 'display: block',
    });

    container.append(textarea);
    container.append(saveButton);

    body.append(container);

    saveButton.on('click', function() {
        data = JSON.parse($('textarea').val());
        top.setProps(data);
    });
});
        </script>
}

@main(title)(header)(content)
